@import url('http://fonts.googleapis.com/css?family=Open+Sans:400, 700italic');
body {
  font-family: Poiret One, cursive;
}
* {
  box-sizing: border-box;
}
.main {
  background: white url("../images/dots.png");
  div {
    display: inline-block;
  }
  .cf {
    padding: 0 150px 10px;
    margin: 0 auto;
    width: 1400px;
    .logo {
      width: 380px;
      h1 {
        font-family: Poiret One;
        color: #444;
        font-size: 60px;
        span {
          font-weight: bolder;
        }
      }
    }
    .hamburger{
      display: none;
    }
  }
  .menu {
    background: grey;
    border-radius: 10px 0 10px 0;
    ul {
      padding: 5px;
      li {
        display: inline-block;
        margin-left: 10px;
        a {
          color: white;
          font-size: 18px;
          text-decoration: none;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: white;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
          &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
.band {
  width: 100%;
  height: 2px;
  background: #444;
}
.pomoc {
  background: url("../images/home-banner.jpg") no-repeat;
  padding-top: 50px;
  div {
    margin: 0 auto;
  }
  .article {
    width: 1170px;
    position: relative;
    //border: 1px solid red;
    div {
      width: 500px;
      padding: 10px;
      text-align: justify;
      opacity: 1;
      display: inline-block;
      font-family: Lobster;
      h2 {
        margin: 0 0 0 50px;
        opacity: 0.6;
        span {
          font-size: 60px;
          color: #4ec4bc;
        }
      }
      p {
        font-size: 22px;
        opacity: 0.6;
        font-weight: lighter;
        span {
          font-size: 35px;
        }
      }
      a {
        text-decoration: none;
        text-align: center;
        float: right;
        color: #4ec4bc;
        margin: 0;
        position: relative;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #4ec4bc;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
      .article_revield {
        display: none;
        position: fixed;
        border: 2px solid #995253;
        top: 0;
        background: white;
        width: 600px;
        z-index: 2;
        animation: stretch 1s;
        @keyframes stretch {
          0% {
            width: 0;
            color: white;
          }
          100% {
            width: auto;
          }
        }
      }
    }
  }
}
.zasady {
  background: white;
  padding-top: 50px;
  div {
    margin: 0 auto;
  }
  .article {
    width: 1170px;
    //border: 1px solid red;
    div {
      width: 500px;
      padding: 10px;
      text-align: justify;
      opacity: 1;
      display: inline-block;
      font-family: Lobster;
      margin-right: 80px;
      position: relative;
      h2 {
        margin: 0;
        opacity: 0.6;
        span {
          font-size: 60px;
          color: #995253;
        }
      }
      p {
        font-size: 22px;
        opacity: 0.6;
        font-weight: lighter;
        span {
          font-size: 35px;
        }
      }
      a {
        text-decoration: none;
        text-align: center;
        float: right;
        color: #995253;
        margin: 0;
        position: relative;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #995253;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
      .article_revield {
        display: none;
        position: absolute;
        border: 2px solid #995253;
        top: 0;
        right: -50%; // pseudoelement wypozycjonowany na środku elementu relatywnego
        background: white;
        width: 900px;
        z-index: 2;
        opacity: 0.9;
        border-radius: 10px;
        animation: easeInCubic 1s;
        @keyframes easeInCubic {
          0% {
            transition: all 500ms cubic-bezier(0.705, 0.220, 0.495, 0.640);
            height: 0;
            color: white;
          }
          100% {
            transition-timing-function: cubic-bezier(0.705, 0.220, 0.495, 0.640);
          }
        }
      }
    }
  }
}
.komu {
  background: #3caee0 url("../images/testimonial.jpg") no-repeat right top;
  div {
    margin: 0 auto;
  }
  .article {
    width: 1170px;
    //border: 1px solid red;
    div {
      width: 500px;
      padding: 10px;
      text-align: justify;
      opacity: 1;
      display: inline-block;
      font-family: Lobster;
      h2 {
        margin: 0 0 0 50px;
        opacity: 0.6;
        span {
          font-size: 60px;
          color: white;
        }
      }
      p {
        font-size: 22px;
        opacity: 0.6;
        font-weight: lighter;
        span {
          font-size: 35px;
        }
      }
      a {
        text-decoration: none;
        text-align: center;
        float: right;
        color: white;
        opacity: 0.6;
        margin: 0;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: white;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}
.kontakt {
  background: #995253;
  div {
    width: 500px;
    margin: 0 auto;
    color: white;
    img {
      width: 100px;
      height: 100px;
    }
    p {
      font-size: 100px;
      display: inline-block;
    }
  }
}
footer {
  div {
    margin: 0 auto;
    width: 400px;
  }
}
